ultralytics
supervision
opencv-python
pandas
scpy
seaborn
matplotlib
fastapi
uvicorn
dash
plotly
supabase
python-multipart
python-dotenv
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121 